.topside {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    border-bottom: 0.5px black solid;
    grid-template-columns: 1fr;
    display: grid;
}



.logo {
    padding-top: 10px;
    padding-left: 10px;
    width: 450px;
    height: 100px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.topbut a {
    display: block;
    text-decoration: none;
    color: black;
}

li {
    display: block;
    text-align: center;
    padding: auto;
    margin: auto;
    font-size: 1.4rem;
}

.topbut a:hover {
    color: brown;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 450px;
    border: 1px solid black;
}

.catgrid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bottomside {
    background-color: orange;
}

.catgrid a {
    color: white;
    text-decoration: none;
}

.catgrid a:hover {
    color: red;
}