.kutu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    font-size: 1.6rem;
    margin: auto;
    align-items: center;

}

img {
    width: 250px;
    height: 310px;
}