<footer class="footer">
    <div class="width">
        <div class="row">
            <div class="footer-col">
                <h4>Navigasyon</h4>
                <ul>
                    <li><a href="index.html">Ana Sayfa</a></li>
                    <li><a href="#oyun">Oyun</a></li>
                    <li><a href="#taraflar">Taraflar</a></li>
                    <li><a href="#galeri">Galeri</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Sıkça Sorulanlar</h4>
                <ul>
                    <li><a href="sss.html">Ödeme Sistemi</a></li>
                    <li><a href="sss.html">Aylık Üyelik</a></li>
                    <li><a href="sss.html">İçerik</a></li>
                    <li><a href="sss.html">Cross-Play</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Tüm Oyunlar</h4>
                <ul>
                    <li><a href="https://store.steampowered.com/">Chivalry 1</a></li>
                    <li><a href="https://store.steampowered.com/">For Honor</a></li>
                    <li><a href="https://store.steampowered.com/">M & B Warband</a></li>
                    <li><a href="https://store.steampowered.com/">Mordhau</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Sosyal Medya</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-steam"></i></a>
                    <a href="#"><i class="fab fa-reddit"></i></a>
                </div>
            </div>
            
            <h1>Bu Proje Angular Denemeleri İçin Hazırlanmıştır.</h1>
            
        </div>
    </div>
</footer>